body > *:not(#signin) {
	display: none;
}
#signin {
	background-image:
		-ms-radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)),
		url(../images/mushroom.jpg);
	background-image:
		-webkit-radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)),
		url(../images/mushroom.jpg);
	background-image:
		-moz-radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)),
		url(../images/mushroom.jpg);
}
#signin > article {
	margin: 2em auto;
	padding: 20px;
	text-align: center;
	width: 400px;
}
#signin > article > h1 {
	background: no-repeat url(../images/logo.png);
	height: 169px;
	margin: 10px 0 60px -40px;
	width: 467px;
	/* Malarkey Image Replacement */
	letter-spacing: normal;
	text-indent: -9999px;
	overflow: hidden;
}
#signin > article > form {
	display: inline-block;
	text-align: left;
	position: relative;
}
#signin .warn {
	background: #eee;
	border: 2px solid #e00;
	border-radius: 5px;
	color: #e00;
	margin-bottom: 1.5em;
	padding: 0.5em;
	position: absolute;
	top: -60px;
	width: 18em;
}
#signin p {
	margin: 0 0 0.5em 0;
}
#signin label {
	color: #e0e0e0;
	text-shadow:
		#000 2px 1px 1px,
		#fff 1px 1px 1px;
}
#signin label.pre {
	display: none;
}
/*.pre {
	display: inline-block;
	margin-right: 0.5em;
	text-align: right;
	width: 6em;
}
.pre::after {
	content: ":";
}*/
#signin input[type="text"],
#signin input[type="email"],
#signin input[type="password"] {
	font-size: 1em;
	width: 18em;
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid #777;
}
#signin input::-webkit-input-placeholder {
	font-style: italic;
}
#signin input:-moz-placeholder {
	font-style: italic;
}
#signin label.post {
	display: inline-block;
	width: auto;
}
#signin input[type="submit"] {
	font-size: 1em;
	font-weight: bold;
	margin: 1em 0 0 0;
	padding: 0.5em 2em;
}
#signin form > p:last-child {
	text-align: center;
}
